{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <h1>Password reset</h1>
        <p>Please enter (and confirm) your new password.</p>

        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <input type="submit" value="Change password">
        </form>

    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid. Please request a new password reset.</p>
    {% endif %}
{% endblock content %}