{% extends "base.html" %}

{% block content %}
    <main class="container mx-auto px-4 py-6">
        <h1>Activation Failed</h1>

        <div class="max-w-2xl">
            <div class="alert alert-error mb-6">
                <i class="bi bi-exclamation-circle-fill shrink-0 h-6 w-6"></i>
                <span>We encountered an error when activating this account.</span>
            </div>

            <div class="prose">
                <p>{{ activation_error }}</p>
                <p>Please contact the site administrator for assistance.</p>
            </div>
        </div>

        <div class="mt-6 space-x-4">
            <a href="{% url 'django_registration_register' %}" class="btn btn-primary">Try registering again</a>
            <a href="{% url 'home' %}" class="btn btn-outline">Return to Home</a>
        </div>
    </main>
{% endblock content %}
