{% extends "base.html" %}
{% load crispy_forms_tags honeypot %}

{% block content %}
    <h1>Register</h1>
    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
                <p>You are already registered.</p>
            {% else %}
                <ul>
                    <li>Paid magazine subscribers can register below and then request that their login account be marked as a “paid subscriber account.” This allows paid subscribers to read articles “behind the paywall.”</li>
                    <li>Free newsletter subscribers can register for our weekly email newsletter <a href="https://westernfriend.us4.list-manage.com/subscribe?u=0f903ecd7fe40d2cc1c8380a3&id=d3975648f3">here</a></li>.
                </ul>
                <form method="post" action="">
                    {% csrf_token %}

                    {% render_honeypot_field honeypot_field_name %}

                    {{ form|crispy }}

                    <input type="submit" value="register" class="btn btn-primary">
                </form>
                <a href="{% url 'login' %}">Already registered?</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
