{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-community-page{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="card mb-2 d-flex flex-row">
        <div class="card-body">
            <h2 class="card-title">Welcome!</h2>

            {{ page.intro|richtext }} 
        </div>

        {% image page.intro_image fill-200x200 class="img-fluid rounded" %}
    </div>   

    <div class="card mb-1 d-flex flex-row">
        {% image page.events_image fill-200x200 class="img-fluid rounded" %}

        <div class="card-body">
            <h2 class="card-title">Upcoming events</h2>
            {{ page.events_intro|richtext }}
            <div class="text-center">
                <a href="/events" class="card-link">View events</a>
            </div>
        </div>
    </div>

    <h2>Western Friend Directory</h2>
    
    {% if yearly_meetings %}
        <div class="row">    
        {% for yearly_meeting in yearly_meetings %}
            <div class="card col m-1" >
                <div class="card-body">
                    <p class="card-title">
                        <a href="{% pageurl yearly_meeting %}">
                            {{ yearly_meeting.given_name }}
                        </a>
                    </p>
                    {% if yearly_meeting.description %}
                        <p class="card-text">
                            {{ yearly_meeting.description }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="card col m-1" >
                <div class="card-body">
                    <p class="card-title">
                        <a href="{% url "quaker_organizations" %}">
                            Quaker Organizations
                        </a>
                    </p>
                    <p class="card-text">
                        A listing of Quaker nonprofit organizations that serve the Western US.
                    </p>
                </div>
            </div>
    </div>
{% endblock %}