{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-community-resources{% endblock %}

{% block content %}
    <h1>Resources</h1>

    <div class="list-group">
            {% for resource in resources %}
                {% if resource.website %}
                    <a href="{{ resource.website }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ resource.title }}</h3>
                        </div>
                        {% if resource.description %}
                            <span>
                                {{ resource.description | richtext }}
                            </span>
                        {% endif %}
                    </a>
                {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ resource.title }}</h3>
                        </div>
                        {% if resource.description %}
                            <span>
                                {{ resource.description | richtext }}
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
         </div>
{% endblock %}