{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-community-page{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h2>{{ block.value }}</h2>
        {% else %}
            <section>{% include_block block %}</section>
        {% endif %}
    {% endfor %}
    
    {% if yearly_meetings %}
        <div class="row">    
        {% for yearly_meeting in yearly_meetings %}
            <div class="card col m-1" >
                <div class="card-body">
                    <p class="card-title">
                        <a href="{% pageurl yearly_meeting %}">
                            {{ yearly_meeting.given_name }}
                        </a>
                    </p>
                    {% if yearly_meeting.description %}
                        <p class="card-text">
                            {{ yearly_meeting.description }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="card col m-1" >
            <div class="card-body">
                <p class="card-title">
                    <a href="{% url "quaker_organizations" %}">
                        Quaker Organizations
                    </a>
                </p>
                <p class="card-text">
                    {{ page.quaker_organizations_intro | richtext }}
                </p>
            </div>
        </div>

        <div class="card col m-1" >
            <div class="card-body">
                <p class="card-title">
                    <a href="{% pageurl page.community_resources_index_page %}online-worship">
                        Online Worship
                    </a>
                </p>
                <p class="card-text">
                    {{ page.online_worship_intro | richtext }}
                </p>
            </div>
        </div>
        
        <div class="card col m-1" >
            <div class="card-body">
                <p class="card-title">
                    <a href="{% pageurl page.community_resources_index_page %}community-directory">
                        Friends Everywhere
                    </a>
                </p>
                <p class="card-text">
                   {{ page.community_directories_intro | richtext }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}