{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <h1>
        {{ selected_year }} {{ page.title }}
    </h1>

    {{ page.specific.intro | richtext }}

    <div class="mb-2">
        {% for year in news_years %}
            {% if year == selected_year %}
                <a 
                    href="?year={{ year }}"
                    class="btn btn-primary"
                >
                    {{ year }}
                </a>
            {% else %}
                <a 
                    href="?year={{ year }}"
                    class="btn btn-outline-primary"
                >
                    {{ year }}
                </a>
            {% endif %}
        {% endfor %}
    </div>


    {% for news_item in news_items %}
        <div class="mb-2">
            {% include "news/news_item_card.html" with news_item=news_item %}
        </div>
    {% endfor %}
{% endblock content %}