{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-newsitem{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>
    
    <p class="text-muted">
        Published {{ page.publication_date }}
    </p>

    {% if page.news_topic %}
        <p class="text-muted">
            Topic <a href="{% pageurl page.news_topic %}">{{ page.news_topic }}</a>
        </p>
    {% endif %}

    {{ page.body }}

    {% if page.tags.count  %}
        <div class="tags">
            {% for tag in page.tags.all %}
                {% for tag in page.tags.all %}
                    <a 
                        href="{%url 'search' %}?query={{ tag }}"
                        class="btn btn-outline-primary btn-sm">
                            {{ tag }}
                    </a>
                {% endfor %}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
    {% endif %}    
{% endblock %}
