{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load wagtailcore_tags %}

{% block body_class %}template-donatepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro|richtext }}

    <form action="." method="post" id="donation-form">
        <div class="row">
            <div
                class="card col m-1"
                @click="recurrence = 'once'"
                v-bind:class="{ 'border-success': recurrence == 'once' }"
            >
                <div class="card-body text-center">
                    <i v-if="recurrence == 'once'" class="bi bi-check"></i>
                    Once
                </div>
            </div>

            <div
                class="card col m-1"
                @click="recurrence = 'monthly'"
                v-bind:class="{ 'border-success': recurrence == 'monthly' }"
            >
                <div class="card-body text-center">
                    <i v-if="recurrence == 'monthly'" class="bi bi-check"></i>
                    Monthly
                </div>
            </div>

            <div
                class="card col m-1"
                @click="recurrence = 'yearly'"
                v-bind:class="{ 'border-success': recurrence == 'yearly' }"
            >
                <div class="card-body text-center">
                    <i v-if="recurrence == 'yearly'" class="bi bi-check"></i>
                    Yearly
                </div>
            </div>

            <input
                name="recurrence"
                v-model.number="recurrence"
                type="hidden"
                class="form-control">
        </div>

        {% if page.suggested_donation_amounts %}

            {% for suggestion in page.suggested_donation_amounts %}
                <div v-if="recurrence == 'once'" class="row text-center">
                    {% for amount in suggestion.value.once %}
                        <div
                            class="card m-1 col"
                            @click="donationAmount = {{ amount }}"
                            v-bind:class="{ 'border-success': donationAmount === {{ amount }} }"
                        >
                            <div class="card-body">
                                <i
                                    v-if="donationAmount === {{ amount }}"
                                    class="bi bi-check"
                                ></i>
                                ${{ amount }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div v-if="recurrence == 'monthly'" class="row text-center">
                    {% for amount in suggestion.value.monthly %}
                        <div
                            class="card m-1 col"
                            @click="donationAmount = {{ amount }}"
                            v-bind:class="{ 'border-success': donationAmount === {{ amount }} }"
                        >
                            <div class="card-body">
                                <i
                                    v-if="donationAmount === {{ amount }}"
                                    class="bi bi-check"
                                ></i>
                                ${{ amount }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div v-if="recurrence == 'yearly'" class="row text-center">
                    {% for amount in suggestion.value.yearly %}
                        <div
                            class="card m-1 col"
                            @click="donationAmount = {{ amount }}"
                            v-bind:class="{ 'border-success': donationAmount === {{ amount }} }"
                        >
                            <div class="card-body">
                                <i
                                    v-if="donationAmount === {{ amount }}"
                                    class="bi bi-check"
                                ></i>
                                ${{ amount }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}


            <div class="row">
                <div class="col">
                    <small id="pre-defined-amount-help" class="form-text text-muted">
                            Choose from one of the suggested donation amounts above.
                    </small>
                </div>
            </div>
        {% endif %}

        <div class="row mt-1">
            <div class="col-3-md">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text" id="donation-amount-addon">Amount $</span>

                        <input name="amount" v-model.number="donationAmount" type="number" class="form-control" aria-label="Donation amount" aria-describedby="donation-amount-addon">
                    </div>

                    <small id="amount-help" class="form-text text-muted">
                        {% if page.suggested_donation_amounts %}
                            Optionally, enter your own donation amount.
                        {% else %}
                            Enter your donation amount.
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text" id="given-name-addon">Given name*</span>

                    <input
                        name="donor_given_name"
                        type="text"
                        class="form-control"
                        aria-label="Given name"
                        aria-describedby="given-name-addon"
                        required>
                </div>
                <small class="form-text text-muted">
                    * Required
                </small>
            </div>

            <div class="col">
                <div class="input-group">
                    <span class="input-group-text" id="family-name-addon">Family name*</span>

                    <input
                        name="donor_family_name"
                        type="text"
                        class="form-control"
                        aria-label="Family name"
                        aria-describedby="family-name-addon"
                        required>
                </div>
                <small class="form-text text-muted">
                    * Required
                </small>
            </div>

            <div class="col">
                <div class="input-group">
                    <span class="input-group-text font-weight-bold" id="email-addon">
                        Email*
                    </span>

                    <input
                        name="donor_email"
                        type="text"
                        class="form-control"
                        placeholder="user@example.com"
                        aria-label="Email"
                        aria-describedby="email-addon"
                        required>
                </div>
                <small class="form-text text-muted">
                    * Required
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ donor_address_form.street_address | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {{ donor_address_form.extended_address | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4 mb-0">
                {{ donor_address_form.locality | as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ donor_address_form.region | as_crispy_field }}
            </div>
            <div class="form-group col-md-4 mb-0">
                {{ donor_address_form.postal_code | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ donor_address_form.country | as_crispy_field }}
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary mt-3" aria-label="Donate button">
            Donate
            <i class="bi bi-arrow-right ms-1"></i>
        </button>

        {% csrf_token %}
    </form>
{% endblock content %}

{% block extra_js %}

<script src="https://unpkg.com/vue@3"></script>

<script>
    var vue = Vue.createApp({
        compilerOptions:{
            delimiters: ["${", "}"],
        },
        data() {
            return {
                donationAmount: 10,
                recurrence: "once",
            }
        },
    }).mount("#donation-form");
</script>
{% endblock extra_js %}
