{% load wagtailcore_tags %} 

{% load crispy_forms_tags %} 
{{ page.intro |richtext }}

<form action="#" method="post" id="dynamicFields" class="mb-3">
    <h3>Format</h3>

    <div class="row text-center">
        <div
            class="card m-1 col"
            @click="magazineFormat = 'pdf'"
            v-bind:class="{ 'border-success': magazineFormat == 'pdf' }"
        >
            <div class="card-body">
                <i v-if="magazineFormat == 'pdf'" class="bi bi-check"></i>
                PDF Only
            </div>
        </div>

        <div
            class="card m-1 col align-self-center"
            @click="magazineFormat = 'print'"
            v-bind:class="{ 'border-success': magazineFormat == 'print' }"
        >
            <div class="card-body">
                <i v-if="magazineFormat == 'print'" class="bi bi-check"></i>
                Print Only
            </div>
        </div>

        <div
            class="card m-1 col"
            @click="magazineFormat = 'print_and_pdf'"
            v-bind:class="{ 'border-success': magazineFormat == 'print_and_pdf' }"
        >
            <div class="card-body">
                <i
                    v-if="magazineFormat == 'print_and_pdf'"
                    class="bi bi-check"
                ></i>
                Print & PDF 
            </div>
        </div>

        <input type="hidden" name="format" v-model="magazineFormat">
    </div>

    <h3>Price</h3>
    
    <div class="row text-center">
        <div
            class="card m-1 col"
            @click="priceGroup = 'normal'"
            v-bind:class="{ 'border-success': priceGroup === 'normal' }"
        >
            <div class="card-body">
                <i v-if="priceGroup === 'normal'" class="bi bi-check"></i>
                Normal ($${ normalComputedPrice })
            </div>
        </div>

        <div
            class="card m-1 col"
            @click="priceGroup = 'true_cost'"
            v-bind:class="{ 'border-success': priceGroup == 'true_cost' }"
        >
            <div class="card-body">
                <i
                    v-if="priceGroup == 'true_cost'"
                    class="bi bi-check"
                ></i>
                True-cost ($${ trueCostComputedPrice })
            </div>
        </div>

        <div
            class="card m-1 col align-self-center"
            @click="priceGroup = 'low_income'"
            v-bind:class="{ 'border-success': priceGroup == 'low_income' }"
        >
            <div class="card-body">
                <i v-if="priceGroup == 'low_income'" class="bi bi-check"></i>
                Low-income ($${ lowIncomeComputedPrice })
            </div>
        </div>

        <div
            class="card m-1 col"
            @click="priceGroup = 'international'"
            v-bind:class="{ 'border-success': priceGroup == 'international' }"
        >
            <div class="card-body">
                <i
                    v-if="priceGroup == 'international'"
                    class="bi bi-check"
                ></i>
                International ($${ internationalComputedPrice })
            </div>
        </div>

        <input type="hidden" name="price_group" v-model="priceGroup">
    </div>

    <h3>Recurring?</h3>

    <div class="form-check form-switch my-2">
        <input
            name="recurring"
            id="recurring-checkbox"
            v-model="recurringSubscription"
            class="form-check-input"
            type="checkbox"
        />

        <label for="recurring-checkbox" class="form-check-label">
            Support us with a recurring subscription?
        </label>
    </div>        

    <div class="row mt-3">
        <div class="col-md-6">
            {{ form.subscriber_given_name | as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.subscriber_family_name | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <p class="p-3 mb-2 bg-info text-white col-md-12">
            PDF subscription will be emailed to <b>{{ user.get_username }}</b>
        </p>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form.subscriber_street_address | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form.subscriber_street_address_line_2 | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4 mb-0">
            {{ form.subscriber_address_locality | as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.subscriber_address_region | as_crispy_field }}
        </div>
        <div class="form-group col-md-4 mb-0">
            {{ form.subscriber_postal_code | as_crispy_field }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ form.subscriber_address_country | as_crispy_field }}
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary" aria-label="Subscribe button">
        Subscribe
        <i class="bi bi-arrow-right ms-1"></i>
    </button>

    {% csrf_token %}
</form>

{% block extra_js %}
<!-- provide subscription price components for dynamic calculation -->
{{ subscription_price_components | json_script:"subscriptionPriceComponents" }}

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    // get subscription price components provided by server in script tag
    const subscriptionPriceComponents = JSON.parse(
        document.getElementById('subscriptionPriceComponents').textContent
    );

    new Vue({
        delimiters: ["${", "}"],
        el: "#dynamicFields",
        data: {
            magazineFormat: "pdf",
            priceGroup: "normal",
            recurringSubscription: false,
        },
        computed: {
            normalComputedPrice: function () {
                return subscriptionPriceComponents["normal"][this.magazineFormat];
            },
            trueCostComputedPrice: function () {
                return subscriptionPriceComponents["true_cost"][this.magazineFormat];
            },
            lowIncomeComputedPrice: function () {
                return subscriptionPriceComponents["low_income"][this.magazineFormat];
            },
            internationalComputedPrice: function () {
                return subscriptionPriceComponents["international"][this.magazineFormat];
            },
        },
    });
</script>
{% endblock extra_js %}
