{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    {% if page.intro %}
        <div class="prose mb-6">
            {{ page.intro|richtext }}
        </div>
    {% endif %}

    {% if user.is_authenticated is not True %}
        {% include "subscription/login_required.html" %}
    {% else %}
        <!-- load the PayPal JavaScript SDK with Subscription components before the DOM elements -->
        <script
            src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&vault=true&intent=subscription"></script>

        {% if request.user.is_superuser %}
            <!-- warn superuser not to subscribe since it may cause unexpected difficulties -->
            <div class="alert alert-warning" role="alert">
                <div>
                    <i class="bi bi-exclamation-triangle-fill shrink-0 h-6 w-6"></i>
                    <div>
                        <h2 class="font-bold">Warning</h2>
                        <p>As a superuser, <strong>you should not subscribe to a plan</strong>. Doing so may cause unexpected difficulties or errors.</p>
                        <p class="mb-0">
                            If you want to test the subscription process, <strong>please create a new user and subscribe as that user</strong>.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}

        <section class="subscription-options">
            {% include_block page.body %}
        </section>
    {% endif %}
{% endblock content %}
