<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p>Please login or register in order to subscribe.</p>
        
        <a
            href="{% url 'login' %}?next={{ request.get_full_path }}"
            class="btn btn-outline-primary">
            Login
        </a>
        <!--TODO: add custom registration view that supports "next" querystring -->
        <a
            href="{% url 'django_registration_register' %}?next={{ request.get_full_path }}"
            class="btn btn-outline-primary float-right">
            Register
        </a>
    </div>
</div>
