{% if paginated_items.page.has_other_pages %}
    <nav aria-label="Paginated items navigation" class="flex justify-center my-6">
        <div class="join">
            {% if paginated_items.page.has_previous %}
                <a href="?page=1&{{ current_querystring }}{{ fragment_identifier }}"
                   class="join-item btn btn-outline btn-sm"
                   aria-label="First page">&laquo; first</a>

                <a href="?page={{ paginated_items.page.previous_page_number }}&{{ current_querystring }}{{ fragment_identifier }}"
                   class="join-item btn btn-outline btn-sm"
                   aria-label="Previous page">
                    previous
                </a>
            {% endif %}

            {% for page_number in paginated_items.elided_page_range %}
                {% if paginated_items.page.number == page_number %}
                    <a href="?page={{ page_number }}&{{ current_querystring }}{{ fragment_identifier }}"
                       class="join-item btn btn-outline btn-sm btn-active"
                       aria-label="Current page {{ page_number }}"
                       aria-current="page">
                        {{ page_number }}
                    </a>
                {% elif page_number == paginated_items.page.paginator.ELLIPSIS %}
                    <span class="join-item btn btn-disabled btn-sm">
                        {{ page_number }}
                    </span>
                {% else %}
                    <a href="?page={{ page_number }}&{{ current_querystring }}{{ fragment_identifier }}"
                       class="join-item btn btn-outline btn-sm"
                       aria-label="Go to page {{ page_number }}">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if paginated_items.page.has_next %}
                <a href="?page={{ paginated_items.page.next_page_number }}&{{ current_querystring }}{{ fragment_identifier }}"
                   class="join-item btn btn-outline btn-sm"
                   aria-label="Next page">
                    next
                </a>

                <a href="?page={{ paginated_items.page.paginator.num_pages }}&{{ current_querystring }}{{ fragment_identifier }}"
                   class="join-item btn btn-outline btn-sm"
                   aria-label="Last page">
                    last &raquo;
                </a>
            {% endif %}
        </div>
    </nav>
{% endif %}
