{% if paginated_items.page.has_other_pages %}
    <nav aria-label="Paginated items navigation">
        <ul class="pagination">
            {% if paginated_items.page.has_previous %}
                <li class="page-item">
                    <a href="?page=1&{{ current_querystring }}" class="page-link">&laquo;&nbsp;first</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ paginated_items.page.previous_page_number }}&{{ current_querystring }}"
                       class="page-link">
                        previous
                    </a>
                </li>
            {% endif %}


            {% for page_number in paginated_items.elided_page_range %}
                {% if paginated_items.page.number == page_number %}
                    <li class="active page-item" aria-current="page">
                        <a href="?page={{ page_number }}&{{ current_querystring }}" class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% elif page_number == paginated_items.page.paginator.ELLIPSIS %}
                    <span class="mx-2">
                        {{ page_number }}
                    </span>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_number }}&{{ current_querystring }}" class="page-link">
                            {{ page_number }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if paginated_items.page.has_next %}
                <li class="page-item">
                    <a href="?page={{ paginated_items.page.next_page_number }}&{{ current_querystring }}"
                       class="page-link">
                        next
                    </a>
                </li>

                <li class="page-item">
                    <a href="?page={{ paginated_items.page.paginator.num_pages }}&{{ current_querystring }}"
                       class="page-link">
                        last&nbsp;&raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
