{% extends "base.html" %}

{% load tz %}

{% load wagtailcore_tags %}

{% block body_class %}template-magazineindexpage{% endblock %}

{% block content %}
    <h1>
        {{ event_category_title }}&nbsp;
        {{ page.title }}
    </h1>

    <div class="intro">
        {{ page.intro | richtext }}
    </div>

    {% if events.page %}
        {% for event in events.page %}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">
                                <h2 class="card-title">
                                    {{ event.title }}
                                </h2>
                                {% if event.teaser %}
                                    <p class="card-text">
                                        {{ event.teaser }}
                                    </p>
                                {% endif %}

                                {% if event.sponsors %}
                                    <p><span class="fw-bold">Hosted/sponsored by:</span>
                                        {% for sponsor in event.sponsors.all %}
                                            {{ sponsor.sponsor }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </p>
                                {% endif %}

                                <p>
                                    <span class="fw-bold">Start Date:</span> {{ event.start_date | timezone:"US/Pacific" | date:"F d, Y, f A" }}
                                    &nbsp;
                                    {% if event.end_date %}
                                        <span class="fw-bold">End Date:</span> {{ event.end_date | timezone:"US/Pacific" | date:"F d, Y, f A" }}
                                    {% endif %}
                                    (US/Pacific)
                                </p>
                            </div>

                            <div class="col-md-2">
                                <a href="{% pageurl event %}" class="btn btn-outline-primary btn-sm stretched-link mt-3">
                                    <i class="bi bi-info-circle" aria-hidden="true"></i>
                                    View details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="step-links mt-1 text-center">
            {% include "paginator.html" with paginated_items=events %}
        </div>
    {% else %}
        <p>There are no {{ event_category_title }} events</p>
    {% endif %}
{% endblock %}
