{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-event{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% if page.start_date %}
        {{ page.start_date | date:"F d, Y, f A" }}
    {% endif %}

    {% if page.end_date %}
        {{ page.end_date | date:"F d, Y, f A" }}
    {% endif %}

    {{ page.timezone }}

    {% if page.description %}
        {{ page.description | richtext }}
    {% endif %}

    {% if page.website %}
        <a 
            href="{{ page.specific.website }}"
            class="btn btn-primary"
        >
            More information
        </a>
    {% endif %}
{% endblock %}