{% extends "base.html" %}

{% block title %}Pay online{% endblock title %}

{% block content %}
<h1>Pay online</h1>


<p class="text-muted">This page will send your credit card information directly to the financial institution you choose for this transaction. This process is enabled by Braintree, a payments partner of PayPal. None of your credit card information will ever be visible to Western Friend.</p>

<div id="dropin-container"></div>

<form action="" id="payment-form" method="post">
    <input type="hidden" id="nonce-input" name="payment_method_nonce" value="" />
    {% csrf_token %}

    <p>Payment total: ${{ payment_total }}</p>

    <button type="submit" id="#submit-button" value="pay" class="btn btn-outline-success">
        Pay
    </button>
</form>

<script src="https://js.braintreegateway.com/web/dropin/1.20.0/js/dropin.min.js"></script>
{% endblock content %}

{% block extra_js %}
<script>
    var paymentForm = document.getElementById("payment-form");
    var nonceInput = document.getElementById("nonce-input");

    braintree.dropin.create({
        authorization: '{{ client_token }}',
        container: '#dropin-container',
        paypal: {
            flow: 'checkout',
            amount: '{{ payment_total }}',
            currency: 'USD'
        },
    }, function (createErr, instance) {
        paymentForm.addEventListener('submit', function (event) {
            // prevent form from submitting at this time
            event.preventDefault();

            instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                if (requestPaymentMethodErr) {
                    console.error(requestPaymentMethodErr);
                    return;
                }

                // get nonce from payload
                nonceInput.value = payload.nonce;

                // submit the form
                paymentForm.submit()
            });
        });
    });
</script>
{% endblock extra_js %}
