{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}
  Western Friend cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Remove</th>
        <th scope="col">Unit price</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td class="align-middle">
              <a href="{% pageurl product %}">
                {% image product.image max-100x100 %}
              </a>
            </td>
            <td class="align-middle">
              <a href="{% pageurl product %}">
                {{ product.title }}
              </a>
            </td>
            <td>
              <form 
                action="{% url "cart:add" product.id %}" 
                method="post"
                class="form-inline"
                >

                {% csrf_token %}

                {{ item.update_quantity_form.update }}

                <div class="input-group">
                  <input 
                    type="number"
                    name="quantity"
                    min="1"
                    required=""
                    id="quantity"
                    aria-label="quantity"
                    class="form-control"
                    value="{{ item.quantity }}"
                    style="max-width: 10em"
                    >
                  
                  <div class="input-group-append">
                    <input 
                    type="submit"
                    value="Update"
                    aria-label="update quantity"
                    class="btn btn-outline-primary btn-sm">
                  </div>
                </div>
              </form>
            </td>
            <td class="align-middle">
                <a 
                  href="{% url "cart:remove" product.id %}"
                  class="btn btn-outline-danger"
                  >
                    <i class="fa fa-trash"></i>
                </a>
            </td>
            <td class="num align-middle">
                ${{ item.price }}
            </td>
            <td class="num align-middle">
                ${{ item.total_price }}
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr>
        <td colspan="5" class="text-right font-italic">Subtotal</td>
        <td class="num">
            ${{ cart.get_subtotal_price }}
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-right font-italic">Shipping</td>
        <td class="num">
            ${{ cart.get_shipping_cost }}
        </td>
      </tr>
      <tr class="font-weight-bold">
        <td colspan="5" class="text-right">Total</td>
        <td class="num">
            ${{ cart.get_total_price }}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <div class="btn-group" role="group" aria-label="Cart navigation">
      <a 
        href="/store"
        class="btn btn-outline-secondary">
          <i class="fa fa-arrow-left"></i>
          Back to bookstore
        </a>
      <a 
        href="{% url "orders:order_create" %}" 
        class="btn btn-outline-primary">
          Checkout
          <i class="fa fa-arrow-right"></i>
        </a>
    </div>
  </div>
{% endblock %}