<form
    action="{% url "cart:add" product.id %}"
    method="post"
    class="form-inline">

    {% csrf_token %}

    <input
        type="hidden"
        name="update"
        value="False"
        id="update">

    <div class="form-group">
        <label
            for="quantity"
            id="quantityLabel"
            >
            Quantity:
        </label>

        <div class="input-group">
            <input
            type="number"
            name="quantity"
            required=""
            value="1"
            min="1"
            id="quantity"
            aria-describedby="quantityLabel"
            class="form-control ms-2">

            <div class="input-group-append">
                <input
                    type="submit"
                    value="Add to cart"
                    class="btn btn-outline-primary ms-2"
                >
            </div>
        </div>
    </div>
</form>
