{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>

    Authored by:
    {% for author in page.authors.all %}
        <a href="{% pageurl author.author %}">{{ author.author }}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}

    {{ page.description | richtext }}

    {% image page.image max-320x200 %}

    <p>
        Price: ${{ page.price }}
    </p>

    <form
        action="{% url "cart:add" page.id %}"
        method="post"
        class="form-inline">

        {% csrf_token %}

        <input
                type="hidden"
                name="update"
                value="False"
                id="update">

        <div class="form-group">
            <label
                for="quantity"
                id="quantityLabel"
                >
                Quantity:
            </label>

            <div class="input-group">
                <input
                type="number"
                name="quantity"
                required=""
                value="1"
                min="1"
                id="quantity"
                aria-describedby="quantityLabel"
                class="form-control ms-2">

                <div class="input-group-append">
                    <input
                        type="submit"
                        value="Add to cart"
                        class="btn btn-outline-primary ms-2"
                    >
                </div>
            </div>
        </div>
    </form>
{% endblock %}
