repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
  - repo: local
    hooks:
      - id: build-tailwind
        name: Build Tailwind CSS for production
        entry: bash -c "cd theme/static_src && npm run build"
        language: system
        files: ^theme/static/
        pass_filenames: false
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.10 # Pin to specific UV version
    hooks:
      # Ensure our project is compatible with Heroku buildpacks
      # which require a `requirements.txt` file.
      - id: pip-compile
        name: Generate requirements.txt
        args: [pyproject.toml, -o, requirements.txt]
        files: ^pyproject\.toml$
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
      - id: pyupgrade
        args: [--py311-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.23.1
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v3.1.0
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
        exclude: ".*migrations/.*"
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.9.8
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/thibaudcolas/curlylint
    rev: "v0.13.1"
    hooks:
      - id: curlylint
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
      - id: djhtml
  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: "1.3.2"
    hooks:
      - id: djade
        args: [--target-version, "5.1"]
  - repo: https://github.com/google/keep-sorted
    rev: v0.6.0
    hooks:
      - id: keep-sorted
        exclude: ".*migrations/.*"
