[tool.poetry]
name = "Western-Friend-website"
version = "0.1.0"
description = "Website for Western Friend (westernfriend.org)"
authors = ["Brylie Christopher Oxley <brylie@amble.fi>"]
license = "AGPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.7"
wagtail = "^2.7"
arrow = "^0.15.4"
braintree = "^3.57.1"
django-heroku = "^0.3.1"
wagtail-autocomplete = "^0.4"
django-crispy-forms = "^1.8.1"
django-extensions = "^2.2.5"
wagtailfontawesome = "^1.1.4"
django-authtools = "^1.7.0"
django-registration = "^3.0.1"
wagtailmenus = "^3.0"
django-flatpickr = "^1.0.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.7.9"
autopep8 = "^1.4.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
