[tool.poetry]
name = "Western-Friend-website"
version = "0.1.0"
description = "Website for Western Friend (westernfriend.org)"
authors = ["Brylie Christopher Oxley <brylie@amble.fi>"]
license = "AGPL-3.0-or-later"

[tool.poetry.dependencies]
python = "^3.7"
wagtail = "^2.15"
arrow = "^0.15.4"
braintree = "^3.57.1"
django-crispy-forms = "^1.8.1"
django-extensions = "^2.2.5"
wagtailfontawesome = "^1.1.4"
django-registration = "^3.0.1"
django-flatpickr = "^1.0.1"
dj-database-url = "^0.5.0"
psycopg2-binary = "^2.8.4"
pandas = "^1.0.3"
wagtail-autocomplete = "^0.6"
python-dotenv = "^0.14.0"
whitenoise = "^5.2.0"
tqdm = "^4.57.0"
wagtailmedia = "^0.9.0"
django-timezone-field = "^5.0"
tzdata = "^2022.1"
wagtail-color-panel = "^1.3.1"

[tool.poetry.dev-dependencies]
flake8 = "^3.7.9"
autopep8 = "^1.4.4"
pylint = "^2.5.3"
black = "^22.3.0"

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
