{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form action="{% url 'search' %}" method="get" class="form-inline">
        <div class="input-group mb-3">
            <input
                type="text"
                name="query"{% if search_query %}
                    value="{{ search_query }}"{% endif %}
                class="form-control form-control-sm me-1"
                aria-label="Search query"
                aria-describedby="search-button"
            >
            <div class="input-group-append">
                <input type="submit" value="Search" class="btn btn-outline-primary btn-sm" id="search-button">
            </div>
        </div>
    </form>

    {% if search_results %}

        {% for result in search_results %}
            {% if result.specific.search_template %}
                {% include result.specific.search_template with entity=result %}
            {% else %}
                <div class="card my-1">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a href="{% pageurl result %}">
                                {{result}} ({{ result.content_type.name }})
                            </a>
                        </h2>
                    </div>
                </div>
            {% endif %}
        {% endfor %}


        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No results found
    {% endif %}
{% endblock %}
