{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-magazineissue{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    {% image page.cover_image max-320x200 %}

    {% if page.publication_date %}
        <p>
            {{ page.publication_date | date:"F" }}
            /
            {{ page.publication_end_date | date:"F Y" }}
        </p>
    {% endif %}

    {% if page.featured_articles.count %}
        <h2>Featured articles</h2>

        <ul>
            {% for featured_article in page.featured_articles.all %}
                <li>
                    <a href="{% pageurl featured_article.article %}">
                        {{ featured_article.article.title }}
                    </a>
                </li>
            {% endfor %}

        </ul>
    {% endif %}

    {% regroup articles_by_department by specific.department as departments %}

    {% for department in departments %}
        <h2>
        {{ department.grouper }}
        </h2>
        
        <ul>
            {% for article in department.list %}
            <li>
                <a href="{% pageurl article %}">
                    {{ article }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>
        <a href="{{ page.get_parent.url }}">
            Return to {{ page.get_parent.title }}
        </a>
    </p>

{% endblock %}