{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <main>
        <header>
            <h1>{{ page.title }}</h1>
        </header>

        {% if page.articles.count %}
            <section aria-labelledby="articles-heading">
                <h2 id="articles-heading">Articles</h2>

                <div class="space-y-4">
                    {% for article in page.articles.all %}
                        {% include "magazine/magazine_article_summary.html" with article=article %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}
