{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <main>
        {% if request.GET.tag|length %}
            <header>
                <h1>Articles tagged "{{ request.GET.tag }}"</h1>
            </header>

            {% if articles.all.count %}
                <section class="space-y-4">
                    {% for article in articles %}
                        {% include "magazine/magazine_article_summary.html" with article=article %}
                    {% endfor %}
                </section>
            {% else %}
                <p class="py-4">No articles found with the tag "{{ request.GET.tag }}".</p>
            {% endif %}
        {% else %}
            <header>
                <h1>{{ page.title }}</h1>
                <p>No tag provided.</p>
            </header>
        {% endif %}
    </main>
{% endblock content %}
