{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <main>
        <header>
            <h1>
                {{ page.title }}
            </h1>

            <div class="prose">
                {{ page.specific.intro|richtext }}
            </div>
        </header>

        <section aria-labelledby="departments-heading">
            {% if departments.all.count %}
                <h2 id="departments-heading" class="sr-only">Departments List</h2>
                <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                    {% for department in departments %}
                        <li>
                            <a href="{% url 'department-detail' department.slug %}"
                               class="card bg-base-100 shadow-sm hover:shadow-md transition-shadow block p-4">
                                <h3 class="card-title">{{ department }}</h3>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center py-4">No departments found.</p>
            {% endif %}
        </section>
    </main>
{% endblock content %}
