<form 
    action="{% url "cart:add" product.id %}"
    method="post"
    class="form-inline">

    {% csrf_token %}

    <div class="form-group">
        <label 
            for="quantity"
            id="quantityLabel"
            >
            Quantity:
        </label>

        <input 
            type="number"
            name="quantity"
            required=""
            value="1"
            id="quantity"
            aria-describedby="quantityLabel"
            class="form-control ml-2">
        
        <input
            type="hidden"
            name="update"
            value="False"
            id="update">

        <input 
            type="submit"
            value="Add to cart"
            class="btn btn-primary ml-2"
        >
    </div>
</form>