{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>
    {{ page.intro | richtext }}

    {% if products.count %}
        {% for product in products.all %}
        <div class="card mb-2">
            <div class="card-body">
                <h3>
                    <a href="{% pageurl product %}">
                        {{ product }}
                    </a>
                </h3>

                {% image product.image max-150x150 class="float-left mr-2" %}

                {{ product.description | richtext | truncatewords_html:30 }}

                <p>
                    Price ${{ product.price }}
                </p>

                {% include "store/add_to_cart.html" %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No products available</p>
    {% endif %}
{% endblock %}