{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-newsitem{% endblock %}

{% block content %}
    <a href="{% pageurl page.get_parent %}">News</a>
    <h1>
        {{ page.title }}
    </h1>

    <p class="text-muted">
        Published: {{ page.publication_date }}
    </p>

    {{ page.body }}

    {% if page.topics.count  %}
        <div class="topics">
            Topics:&nbsp;
            {% for news_topic in page.topics.all %}
                <a
                    href="{%url 'search' %}?query={{ news_topic.topic }}"
                    class="btn btn-outline-primary btn-sm">
                    {{ news_topic.topic }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if page.tags.count  %}
        <div class="tags">
            Tags:&nbsp;
            {% for tag in page.tags.all %}
                <a
                    href="{%url 'search' %}?query={{ tag }}"
                    class="btn btn-outline-primary btn-sm">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ page.title }}",
  "datePublished": "{{ page.publication_date|date:'Y-m-d' }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.full_url }}"
  },
  {% if page.teaser %}
  "description": "{{ page.teaser }}",
  {% endif %}
  "publisher": {
    "@type": "Organization",
    "name": "Western Friend"
  },
  {% if page.topics.count %}
  "about": [
    {% for news_topic in page.topics.all %}
    "{{ news_topic.topic.title }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  {% endif %}
  {% if page.tags.count %}
  "keywords": [
    {% for tag in page.tags.all %}
    "{{ tag }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
  ]
  {% endif %}
}
</script>
{% endblock extra_js %}

