{% extends "base.html" %}

{% load wagtailcore_tags %}


{% block body_class %}template-newsitem{% endblock %}

{% block content %}
    <a href="{% pageurl page.get_parent %}">News</a>
    <h1>
        {{ page.title }}
    </h1>

    <p class="text-muted">
        Published: {{ page.publication_date }}
    </p>

    {% if page.news_genre %}
        <p class="text-muted">
            Genre: {{ page.news_genre }}
        </p>
    {% endif %}

    {{ page.body }}

    {% if page.topics.count  %}
        <div class="topics">
            Topics:&nbsp;
            {% for news_topic in page.topics.all %}
                <a
                    href="{%url 'search' %}?query={{ news_topic.topic }}"
                    class="btn btn-outline-primary btn-sm">
                    {{ news_topic.topic }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    {% if page.tags.count  %}
        <div class="tags">
            Tags:&nbsp;
            {% for tag in page.tags.all %}
                <a
                    href="{%url 'search' %}?query={{ tag }}"
                    class="btn btn-outline-primary btn-sm">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
