{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <h1>
        {{ selected_year }} {{ page.title }}
    </h1>

    {{ page.specific.intro | richtext }}

    <div class="mb-2">
        {% for year in news_years %}
            {% if year == selected_year %}
                <a
                    href="?year={{ year }}"
                    class="btn btn-primary"
                >
                    {{ year }}
                </a>
            {% else %}
                <a
                    href="?year={{ year }}"
                    class="btn btn-outline-primary"
                >
                    {{ year }}
                </a>
            {% endif %}
        {% endfor %}
    </div>

    {% for topic, items in grouped_news_items.items %}
        <h2>{{ topic }}</h2>
        <ul>
            {% for news_item in items %}
                <li>
                    <a href="{% pageurl news_item %}">{{ news_item }}</a>&nbsp;
                    <span class="text-muted">{{ news_item.publication_date }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock content %}
