{% load wagtailcore_tags %}

<div class="card mb-2">
    <div class="card-body">
        <p class="card-title fs-4">
            {{ news_item.title }}
        </p>

        <p class="card-subtitle mb-2 text-muted">
            {{ news_item.publication_date }}
        </p>

        {% if news_item.teaser %}
            <p class="card-text">
                {{ news_item.teaser|richtext }}
            </p>
        {% endif %}


        <a href="{% pageurl news_item %}" class="card-link stretched-link">
            Read more
        </a>
    </div>
</div>
