{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-magazineindexpage{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    <div class="intro">
        {{ page.intro | richtext }}
    </div>

    {% if events %}
        <h2>Upcoming events</h2>
        <div class="list-group">
            {% for event in events %}
                {% if event.website %}
                    <a href="{{ event.website }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ event.title }}</h3>
                            <small>{{ event.date }}</small>
                        </div>
                        {% if event.description %}
                            <p>
                                {{ event.description | richtext }}
                            </p>
                        {% endif %}
                    </a>
                {% else %}
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h3 class="mb-1">{{ event.title }}</h3>
                            <small>{{ event.date }}</small>
                        </div>
                        {% if event.description %}
                            <p>
                                {{ event.description | richtext }}
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
         </div>
    {% else %}
        <p>There are no events events</p>
    {% endif %}
{% endblock %}