{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-community_directory{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-6">

        <h1>{{ page.title }}</h1>

        {% if page.specific.description %}
            <div class="prose my-6">
                {{ page.specific.description|richtext }}
            </div>
        {% endif %}

        {% if page.specific.website %}
            <div class="mt-4">
                <a
                    href="{{ page.specific.website }}"
                    class="btn btn-primary"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    More information
                    {% include "common/includes/new_window_notice.html" %}
                    <i class="bi bi-box-arrow-up-right ml-2" aria-hidden="true"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
