{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-online_worship{% endblock %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <a href="{% pageurl page.get_parent %}">Online Worship Directory</a>
    <h1>{{ page.title }}</h1>

    {% if page.hosted_by %}
        <p>
            <strong>Hosted by:</strong>
            <a href="{% pageurl page.hosted_by %}">
                {{ page.hosted_by }}
            </a>
        </p>
        <strong>Hosted by:</strong>
    {% endif %}

    {% if page.specific.website %}
        <p>
            <strong>Website:</strong>
            <a
                href="{{ page.specific.website }}"
            >
                {{ page.specific.website }}
            </a>
        </p>
    {% endif %}

    {% if page.specific.description %}
        {{ page.specific.description | richtext }}
    {% endif %}

    {% if page.specific.times_of_worship %}
        <strong>Times of worship:</strong>
        {{ page.specific.times_of_worship | richtext }}
    {% endif %}
{% endblock %}
