{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    {% if request.GET.tag|length %}
        <h1>Articles tagged "{{ request.GET.tag }}"</h1>

        {% if articles.all.count %}
            {% for article in articles %}
                {% include "magazine/magazine_article_summary.html" with article=article %}
            {% endfor %}
        {% else %}
            <p>No articles found with the tag "{{ request.GET.tag }}".</p>
        {% endif %}
    {% else %}
        <h1>{{ page.title }}</h1>
        <p>No tag provided.</p>
    {% endif %}
{% endblock content %}