{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-magazineissue{% endblock %}

{% block content %}
    <h1 class="mb-3">
        {{ page.title }}
        {% if page.publication_date %}
            ({{ page.publication_date | date:"M" }}/{{ page.publication_end_date | date:"M Y" }})
        {% endif %}
    </h1>

    

    <div class="row">
        <div class="col">
            {% if page.featured_articles.count %}
            <h2 class="h3 ms-4">Featured Articles</h2>

            <ul class="list-unstyled">
                {% for featured_article in page.featured_articles.all %}
                    <li class="ms-5 mb-2">
                        <a href="{% pageurl featured_article %}">
                            {{ featured_article.title }}
                        </a>
                    </li>
                {% endfor %}

            </ul>
            {% endif %}

            {% regroup articles_by_department by specific.department as departments %}

            {% for department in departments %}
                <h2 class="h3 ms-4">
                {{ department.grouper }}
                </h2>
                
                <ul class="list-unstyled ms-5">
                    {% for article in department.list %}
                    <li class="mb-2">
                        <a href="{% pageurl article %}">
                            {{ article }} {% if article.is_featured %}(featured){% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <div class="col pt-2">
            {% image page.cover_image width-480 %}

            <p class="mt-3">
                <a href="{{ page.get_parent.url }}">
                    Return to {{ page.get_parent.title }} Collection
                </a>
            </p>
        </div>
    </div>

{% endblock %}