{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Create order
{% endblock title %}
{% block content %}
    <h1>
        Create order
    </h1>

    <table class="table table-sm">
        <thead>
            <th>Quantity</th>
            <th>Product</th>
            <th>Line total</th>
        </thead>
        {% for item in cart %}
            <tr>
                <td>
                    {{ item.quantity }}
                </td>
                <td>
                    {{ item.product_title }}
                </td>
                <td class="text-right">
                    ${{ item.total_price }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="row" colspan="2" class="text-right">Subtotal</th>
            <td class="text-right">${{ cart.get_subtotal_price }}</td>
        </tr>
        <tr>
            <th scope="row" colspan="2" class="text-right">Shipping</th>
            <td class="text-right">${{ cart.get_shipping_cost }}</td>
        </tr>
        <tr>
            <th scope="row" colspan="2" class="text-right">Total</th>
            <td class="text-right">${{ cart.get_total_price }}</td>
        </tr>
    </table>

    <form action="#" method="post">
        <h2>Purchaser</h2>

        <div class="row">
            <div class="col-md-3">
                {{ form.purchaser_given_name | as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.purchaser_family_name | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form.purchaser_meeting_or_organization | as_crispy_field }}
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                {{ form.purchaser_email | as_crispy_field }}
            </div>
        </div>

        <h2>Recipient</h2>
        <div class="row">
            <div class="col-md-6">
                {{ form.recipient_name | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form.recipient_street_address | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form.recipient_po_box_number | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-2 mb-0">
                {{ form.recipient_address_locality | as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.recipient_address_region | as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.recipient_postal_code | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form.recipient_address_country | as_crispy_field }}
            </div>
        </div>

        <div class="text-right">
            <div class="btn-group" role="group" aria-label="Cart navigation">
                <a
                    href="/cart"
                    class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i>
                    Back to cart
                </a>
                <button type="submit" class="btn btn-outline-primary">
                    Create order
                    <i class="bi bi-arrow-right ms-1"></i>
                </button>
            </div>
        </div>

        {% csrf_token %}
    </form>
{% endblock content %}
