{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Create order
{% endblock title %}
{% block content %}
<h1>
    Create order
</h1>

<ul>
    {% for item in cart %}
    <li>
        {{ item.quantity }}x {{ item.product_title }}
        <span> ${{ item.total_price }} </span>
    </li>
    {% endfor %}
</ul>

<p>Subtotal: ${{ cart.get_subtotal_price }}</p>

<p>Shipping: ${{ cart.get_shipping_cost }}</p>

<p>Total: ${{ cart.get_total_price }}</p>

<form action="#" method="post">
    {{ form | crispy }}

    <p>
        
    </p>

    <div class="text-right">
        <div class="btn-group" role="group" aria-label="Cart navigation">
            <a 
                href="/cart"
                class="btn btn-outline-secondary">
                <i class="fa fa-arrow-left"></i>
                Back to cart
            </a>
            <button type="submit" class="btn btn-outline-primary">
                Create order
                <i class="fa fa-arrow-right ml-1"></i>
            </button>
        </div>
    </div>

    {% csrf_token %}
</form>
{% endblock content %}
