{% load wagtailcore_tags wagtailimages_tags %}

<article class="card mb-4 shadow-md overflow-hidden {% if value.image_align == 'left' %}sm:flex{% else %}sm:flex flex-row-reverse{% endif %}">
    <figure class="{% if value.image %}p-0 sm:w-1/3 md:w-1/4 shrink-0{% endif %}">
        {% if value.image %}
            {% image value.image fill-200x200 class="h-full w-full object-cover" alt=value.image.title %}
        {% endif %}
    </figure>

    <div class="card-body grow">
        <h2 class="card-title">
            {{ value.title }}
        </h2>
        <div class="prose">
            {{ value.text|richtext }}
        </div>
        {% if value.button.page_link %}
            <div class="card-actions mt-4">
                {% include_block value.button %}
            </div>
        {% endif %}
    </div>
</article>
