<div id="donate-button-container">
    <div id="donate-button"></div>

    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
        PayPal.Donation.Button({
            env:'production',
            hosted_button_id:'5TB6BWZ9F4EKL',
            image: {
                src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif',
                alt:'Donate with PayPal button',
                title:'Donate with PayPal',
            }
        }).render('#donate-button');
    </script>
</div>
