{% load wagtailcore_tags %}
<div class="card my-2">
    <div class="card-body">
        <a href="{% pageurl entity %}" class="card-title lead">
            {{ entity.title }}
        </a>

        {% if entity.specific.authors.count %}
            <ul class="list-inline mb-1">
                <li class="list-inline-item">Authored by:</li>
                {% for author in entity.specific.authors.all %}
                    <li class="list-inline-item">
                        <a href="{% pageurl author.author %}">{{ author.author.title }}</a>{% if not forloop.last %},{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ entity.specific.teaser | richtext }}

        <p>
            <a href="{% pageurl entity.get_parent %}" class="card-link">
                {{ entity.get_parent }} ({{ entity.get_parent.specific.publication_date| date:"F Y" }})
            </a>
        </p>
    </div>
</div>
