{% load wagtailcore_tags %}

<div class="card my-1">
    <div class="card-body">
        <h2 class="card-title h5">
            <a href="{% pageurl entity %}">
                {{ entity.title }}
            </a>
        </h2>

        {% if entity.specific.description %}
            <p class="card-text">{{ entity.specific.description | truncatewords_html:10 }}</p>
        {% endif %}

        {% if entity.specific.times_of_worship %}
            <p class="card-text">
                <strong>Times of worship:</strong>
                {{ entity.specific.times_of_worship | richtext }}
            </p>
        {% endif %}
    </div>
</div>
