@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui";

/**
  * A catch-all path to Django template files, JavaScript, and Python files
  * that contain Tailwind CSS classes and will be scanned by Tailwind to generate the final CSS file.
  *
  * If your final CSS file is not being updated after code changes, you may want to broaden or narrow
  * the scope of this path.
  */
@source "../../../**/*.{html,py,js}";

:root {
  font-size: 16px;
}

/* Make sure embedded videos take up full with
while preserving the typical aspect ratio */
iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

h1 {
  @apply text-3xl font-bold mt-6 mb-4;
}

h2 {
  @apply text-2xl font-semibold mt-5 mb-3;
}

h3 {
  @apply text-xl font-semibold mt-4 mb-2;
}

p {
  @apply mb-3;
}
