{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="row">
        {{ page.body|richtext }}
    </div>

    <div class="row">
        <div class="col-sm">
            {% if page.featured_articles.count %}
                <h2>Featured articles</h2>
                {% for featured_article in page.featured_articles.all %}
                    <h3>
                        <a href="{% pageurl featured_article.article %}">
                            {{ featured_article.title }}
                        </a>
                    </h3>

                    {{ featured_article.body | richtext | truncatewords_html:30 }}
                {% endfor %}
            {% endif %}
        </div>

        <div class="col-sm">
            {% if current_issue %}
                <h2>Current Issue</h2>
                <h3>
                    {{ current_issue.title }}
                </h3>
                <br />
                {% image current_issue.cover_image max-320x200 %}
            {% endif %}
        </div>
    </div>
{% endblock %}
