{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Password reset</h1>
    <p><em>PLEASE NOTE:</em><br/> If you do not receive a password-reset message promptly after submitting this form, then please instead try registering for a new account on our website.</p>
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="Reset password" class="btn btn-primary">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
{% endblock content %}
