{% extends "base.html" %}
{% load common_form_tags %}

{% block content %}
    <main class="container mx-auto px-4 py-6">
        {% if validlink %}
            <h1>Password Reset</h1>
            <p >Please enter (and confirm) your new password.</p>

            <section class="max-w-md">
                <form action="" method="post">
                    {% csrf_token %}

                    <fieldset class="space-y-4">
                        <legend class="sr-only">New Password Information</legend>
                        {% for field in form %}
                            <div class="form-control mb-4">
                                <label for="{{ field.id_for_label }}" class="label">
                                    <span class="label-text font-medium">{{ field.label }}</span>
                                </label>
                                {{ field|add_class:"input input-bordered w-full bg-white text-gray-800" }}
                                {% if field.help_text %}
                                    <span class="label-text-alt text-sm mt-1">{{ field.help_text }}</span>
                                {% endif %}
                                {% for error in field.errors %}
                                    <span class="text-error text-sm mt-1" role="alert">{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </fieldset>

                    <div class="mt-6">
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                </form>
            </section>
        {% else %}
            <div class="max-w-2xl">
                <h1>Password Reset Failed</h1>
                <div class="alert alert-error">
                    <i class="bi bi-exclamation-circle-fill shrink-0 h-6 w-6"></i>
                    <span>The password reset link was invalid, possibly because it has already been used.</span>
                </div>
                <p class="mt-4">Please request a <a href="{% url 'password_reset' %}">new password reset</a>.</p>
            </div>
        {% endif %}
    </main>
{% endblock content %}
