<div class="d-flex justify-content-end mb-2">
    <a href="{{ value.url }}" class="btn btn-outline-primary">
        <i class="bi bi-cloud-download"></i>
        Download: {{ value.title | truncatewords:3 }}
    </a>
</div>

<div id="pdf-container-{{ value.id }}"></div>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.6/pdfobject.min.js"
    integrity="sha512-B+t1szGNm59mEke9jCc5nSYZTsNXIadszIDSLj79fEV87QtNGFNrD6L+kjMSmYGBLzapoiR9Okz3JJNNyS2TSg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

<script>PDFObject.embed("{{ value.url }}", "#pdf-container-{{ value.id }}");</script>
