<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <a href="/" class="navbar-brand">Western Friend</a>
    <small class="navbar-text">
        Quaker Plain Speech and Spirit in the West
    </small>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/magazine" class="nav-link">Magazine</a>
            </li>
            <li class="nav-item">
                <a href="/library" class="nav-link">Library</a>
            </li>
            <li class="nav-item">
                <a href="/community" class="nav-link">Community</a>
            </li>
            <li class="ml-3">
                {% if user.is_authenticated %}
                    <span class="navbar-text">
                        Welcome {{ user.get_username }}
                    </span>
                    <a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-outline-success">
                        Logout
                    </a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-outline-success">
                        Login
                    </a>
                    <a href="{% url 'django_registration_register' %}" class="btn btn-outline-primary">
                        Register
                    </a>
                {% endif %}

            </li>
        </ul>
    </div>
</nav>