<nav class="navbar navbar-expand-md navbar-fixed-top navbar-light">
    <a href="/" class="navbar-brand">Western Friend</a>
    <small class="navbar-text">
        Quaker Plain Speech and Spirit in the West
    </small>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/magazine" class="nav-link">Magazine</a>
            </li>
        </ul>
    </div>
</nav>