{% load wagtailcore_tags wagtailimages_tags %}

<div class="card mb-1 d-flex flex-row">
    {% if value.image_align == "left"%}
        {% image value.image fill-200x200 class="img-fluid rounded" %}
    {% endif %}

    <div class="card-body">
        <h2 class="card-title">
            {{ value.title }}
        </h2>
        {{ value.text|richtext }}
        {% if value.button.page_link %}
            {% include_block value.button %}
        {% endif %}
    </div>

    {% if value.image_align == "right"%}
        {% image value.image fill-200x200 class="img-fluid rounded" %}
    {% endif %}
</div>