{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="h-100" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}

            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}
                    - {{ current_site.site_name }}
                {% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
            <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
            <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <link href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css " rel="stylesheet">

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/wf_website.css' %}">

        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/ckeditor.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body
        class="{% block body_class %}{% endblock %} d-flex flex-column h-100">
        {% wagtailuserbar %}

        {% include "heading.html" %}

        <div class="container mt-4 mb-2 flex-shrink-0">
            {% if messages %}
                <div class="notifications">
                    {% for message in messages %}
                        <div class="{{ message.tags }} fw-bold">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {% include "footer.html" %}

        {# Global javascript #}
        <!-- Sentry SDK -->
        <script src="https://js.sentry-cdn.com/8bd55884aa744c07a111c2127292baca.min.js" crossorigin="anonymous"></script>

        <!-- Bootstrap and popper (popper is for our navigation menu) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>



        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <!-- Matomo Tag Manager -->
        <script>
            var _mtm = window._mtm = window._mtm || [];
            _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
            (function() {
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src='https://cdn.matomo.cloud/westernfriend.matomo.cloud/container_oF9AOs3R.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Tag Manager -->
    </body>
</html>
