<section class="footer bg-dark bg-gradient text-white mt-auto pt-1">
    <div class="container">
        <div class="h-100 d-flex justify-content-start align-items-start">
            <div class="flex-fill">
                <p class="vcard" style="margin-top: 1em;">
                    <span class="fn org">Western Friend</span>
                    <span class="address">
                        <span class="street-address">4207 SE Woodstock Blvd, #305</span>
                        <span class="locality">Portland</span>, <abbr class="region" title="California">OR</abbr> <span class="postal-code">97206</span>
                        <abbr class="country-name" title="United States of America">USA</abbr><br>
                    </span>
                </p>
                <p>Western Friend is published by the Friends Bulletin Corporation, an independent 501(c)3 non-profit (EIN-93-1156843), established jointly by Pacific, North Pacific, and Intermountain Yearly Meetings.</p>
                <p>This website is <a href="https://github.com/WesternFriend/WF-website" target="_blank" class="link" style="color: #F0F4F7;">Open Source on GitHub</a>.</p>
            </div>

            <div class="h-100 d-flex flex-column mt-auto mb-auto ms-1">
                <a href="/contact" class="btn btn-light">
                    Contact&nbsp;Us
                </a>
            </div>

            <div class="h-100 d-flex flex-column ms-3 mt-auto mb-auto">
                <a href="https://www.facebook.com/western.friend/" class="text-light" aria-label="WesternFriend Facebook profile link">
                    <i class="bi bi-facebook"></i>
                </a>

                <a href="https://www.instagram.com/westernfriend/" class="text-light" aria-label="WesternFriend Instgram profile link">
                    <i class="bi bi-instagram"></i>
                </a>

                <a href="https://twitter.com/westernfriend" class="text-light" aria-label="WesternFriend Twitter profile link">
                    <i class="bi bi-twitter"></i>
                </a>

                <a href="https://mastodon.ie/@westernfriend" class="text-light" aria-label="WesternFriend Mastodon profile link">
                    <i class="bi bi-mastodon"></i>
                </a>
            </div>
        </div>
    </div>
</section>



<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NGO",
        "name": "Western Friend",
        "alternateName": "Friends Bulletin Corporation",
        "url": "https://westernfriend.org",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "4207 SE Woodstock Blvd, #305",
            "addressLocality": "Portland",
            "addressRegion": "OR",
            "postalCode": "97206",
            "addressCountry": "US"
        },
        "sameAs": [
            "https://twitter.com/westernfriend",
            "https://www.facebook.com/WesternFriendWire",
            "https://github.com/WesternFriend/"
        ]
    }
</script>
