<section class="bg-dark bg-gradient text-white mt-3 pt-1">
    <div class="container">
        <div class="h-100 d-flex justify-content-start align-items-start">
            <div class="flex-fill">
                <p class="vcard" style="margin-top: 1em;">
                    <span class="fn org">Western Friend</span>
                    <span class="address">
                        <span class="street-address">2625 Middlefield Road, #565</span>
                        <span class="locality">Palo Alto</span>, <abbr class="region" title="California">CA</abbr> <span class="postal-code">94306</span>
                        <abbr class="country-name" title="United States of America">USA</abbr>
                    </span>
                    <span class="tel">+1-650-318-1652</span>
                </p>
                <p>Western Friend is published by the Friends Bulletin Corporation, an independent 501(c)3 non-profit (EIN-93-1156843), established jointly by Pacific, North Pacific, and Intermountain Yearly Meetings</p>
            </div>

            <div class="h-100 d-flex flex-column">
                <div class="btn btn-light mb-4">
                    Contact&nbsp;Us
                </div>

                <div class="btn btn-light">
                    Advertise
                </div>
            </div>

        </div>
    </div>
</section>



<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NGO",
  "name": "Western Friend",
  "alternateName": "Friends Bulletin Corporation",
  "url": "https://westernfriend.org",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "2625 Middlefield Road, #565",
    "addressLocality": "Palo Alto",
    "addressRegion": "CA",
    "postalCode": "94306",
    "addressCountry": "US"
  },
  "sameAs": [
    "https://twitter.com/westernfriend",
    "https://www.facebook.com/WesternFriendWire",
    "https://github.com/WesternFriend/",
  ]
}
</script>


