<section class="footer bg-gradient-to-b from-gray-800 to-gray-900 text-white mt-auto pt-4">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-start gap-4">
            <div class="flex-1">
                <p class="vcard mt-4">
                    <span class="fn org font-semibold">Western Friend</span>
                    <span class="block address">
                        <span class="street-address">4207 SE Woodstock Blvd, #305</span>
                        <span class="locality">Portland</span>, <abbr class="region" title="California">OR</abbr> <span class="postal-code">97206</span>
                        <abbr class="country-name" title="United States of America">USA</abbr>
                    </span>
                </p>
                <p class="my-2">Western Friend is published by the Friends Bulletin Corporation, an independent 501(c)3 non-profit (EIN-93-1156843), established jointly by Pacific, North Pacific, and Intermountain Yearly Meetings.</p>
                <p class="mb-4">This website is <a href="https://github.com/WesternFriend/WF-website" target="_blank" class="text-gray-100 hover:text-white underline">Open Source on GitHub</a>.</p>
            </div>

            <div class="flex flex-col">
                <a href="/contact" class="btn bg-white text-black hover:bg-gray-200 mb-2">
                    Contact&nbsp;Us
                </a>
            </div>

            <div class="flex flex-row md:flex-col gap-4 md:gap-2">
                <a href="https://www.facebook.com/western.friend/" class="text-white hover:text-gray-300" aria-label="WesternFriend Facebook profile link">
                    <i class="bi bi-facebook text-xl"></i>
                </a>

                <a href="https://www.instagram.com/westernfriend/" class="text-white hover:text-gray-300" aria-label="WesternFriend Instagram profile link">
                    <i class="bi bi-instagram text-xl"></i>
                </a>

                <a href="https://twitter.com/westernfriend" class="text-white hover:text-gray-300" aria-label="WesternFriend Twitter profile link">
                    <i class="bi bi-twitter text-xl"></i>
                </a>

                <a href="https://mastodon.ie/@westernfriend" class="text-white hover:text-gray-300" aria-label="WesternFriend Mastodon profile link">
                    <i class="bi bi-mastodon text-xl"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "NGO",
        "name": "Western Friend",
        "alternateName": "Friends Bulletin Corporation",
        "url": "https://westernfriend.org",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "4207 SE Woodstock Blvd, #305",
            "addressLocality": "Portland",
            "addressRegion": "OR",
            "postalCode": "97206",
            "addressCountry": "US"
        },
        "sameAs": [
            "https://twitter.com/westernfriend",
            "https://www.facebook.com/WesternFriendWire",
            "https://github.com/WesternFriend/"
        ]
    }
</script>
