{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Login</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}

                <input type="submit" value="login" class="btn btn-primary mt-3">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            <a href="{% url 'password_reset' %}">Lost password?</a>
        </div>
    </div>
{% endblock content %}