{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    {% include_block page.body %}

    {% if page.collection %}
        <dl>
            <dt>
                Collection
            </dt>
            <dd>
                <a href="{% pageurl page.collection %}">
                    {{ page.collection }}
                </a>
            </dd>
        </dl>
    {% endif %}

    {% if page.tags.all %}
        <dl>
            <dt>
                Tags
            </dt>
            <dd>
                {% for tag in page.tags.all %}
                    <a href="{%url 'search' %}?query={{ tag }}">{{ tag }}</a>
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            </dd>
        </dl>
    {% endif %}
{% endblock %}
