{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-magazinearticlepage{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    {% if page.authored_by.count %}
        <ul class="list-inline mb-1">
            <li class="list-inline-item">Authored by:</li>
            {% for author in page.authored_by.all %}
                <li class="list-inline-item">
                    <a href="{% url 'author-detail' author.slug %}">{{ author }}</a>{% if not forloop.last %},{% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if page.department %}
        <div class="mb-2">
            Department:&nbsp;
            <a href="{% url 'department-detail' page.department.slug %}">
                {{ page.department }}
            </a>
        </div>
    {% endif %}

    {% if page.tags.all.count %}
        <div class="tags">
            {% for tag in page.tags.all %}
                <a
                    href="{% slugurl 'tags' %}?tag={{ tag }}"
                    class="btn btn-outline-primary btn-sm">
                    {{ tag }}
                </a>
            {% endfor %}

        </div>
    {% endif %}

    {{ page.body | richtext }}

    <p>
        <a href="{{ page.get_parent.url }}">
            Return to "{{ page.get_parent.title }}" issue
        </a>
    </p>
{% endblock %}