{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-sm-4 col-lg-3 mb-4">
    <div class="card">
        <a href="{% pageurl issue %}">
            {% image issue.specific.cover_image max-286x300 class="card-img-top h-100" %}
        </a>

        <div class="card-body">
            <h3 class="panel-title">
                <a href="{% pageurl issue %}">
                    {{ issue.title }}
                </a>
            </h3>

            {% if issue.specific.publication_date %}
                <p class="card-text">
                    {{ issue.specific.publication_date | date:"M" }}
                    /
                    {{ issue.specific.publication_end_date | date:"M Y" }}
                </p>
            {% endif %}
        </div>
    </div>
</div>