{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-magazineindexpage{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    <div class="intro">
        {{ page.intro | richtext }}
    </div>

    {% for issue in page.get_children %}
        <h2>
            <a href="{% pageurl issue %}">
                {{ issue.title }}
            </a>
        </h2>

        {% image issue.specific.cover_image max-320x200 %}

        {% if issue.specific.publication_date %}
            <p>
                {{ issue.specific.publication_date | date:"F o" }}
                /
                {{ issue.specific.publication_end_date | date:"F o" }}
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}