{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-magazineindexpage{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    <div class="intro">
        {{ page.intro | richtext }}
    </div>

    <h2>Recent issues</h2>

    <div class="row mb-4">
        {% for issue in recent_issues %}
            {% include "magazine/magazine_issue_card.html" %}
        {% endfor %}
    </div>

    <h2>Archive issues</h2>

    <div class="row">
        {% for issue in archive_issues %}
            {% include "magazine/magazine_issue_card.html" %}
        {% endfor %}

        <span class="step-links ml-3 mb-5">
            {% if archive_issues.has_previous %}
                <a href="?page={{ archive_issues.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ archive_issues.number }} of {{ archive_issues.paginator.num_pages }}.
            </span>

            {% if archive_issues.has_next %}
                <a href="?page={{ archive_issues.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}