{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-magazineissue{% endblock %}

{% block content %}
    <h1>
        {{ page.title }}
    </h1>

    {% image page.cover_image max-320x200 %}

    {% regroup page.get_children by specific.department as departments %}

    {% for department in departments %}
        <h2>
        {{ department.grouper }}
        </h2>
        <ul>
            {% for article in  department.list %}
            <li>
                <a href="{% pageurl article %}">
                    {{ article.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>
        <a href="{{ page.get_parent.url }}">
            Return to {{ page.get_parent.title }}
        </a>
    </p>

{% endblock %}