{% load wagtailcore_tags %}
<div class="card mb-2">
    <div class="card-body">
        <a href="{% pageurl article %}" class="card-title lead">
            {{ article.title }}
        </a>

        {% if article.authored_by.count %}
            <ul class="list-inline mb-1">
                <li class="list-inline-item">Authored by:</li>
                {% for author in article.authored_by.all %}
                    <li class="list-inline-item">
                        <a href="{% url 'author-detail' author.slug %}">{{ author }}</a>{% if not forloop.last %},{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ article.body | richtext | truncatewords_html:30 }}

        Issue:
        <a href="{% pageurl article.get_parent %}" class="card-link">
            {{ article.get_parent }} ({{ article.get_parent.specific.publication_date| date:"F Y" }})
        </a>
    </div>
</div>