{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load crispy_forms_tags %}
{% load honeypot %}


{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.intro|richtext }}

    <form action="{% pageurl page %}" method="POST">
        {% csrf_token %}

        {% render_honeypot_field honeypot_field_name %}

        {{ form | crispy }}

        <input type="submit" class="btn btn-outline-primary" value="Send">
    </form>
{% endblock content %}
