{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-6 mb-8">
        <!-- Contact Information Column -->
        <div class="lg:col-span-1">
            <div class="prose">
                {{ page.specific.description|richtext }}
            </div>

            <dl>
                {% if page.specific.phone %}
                    <dt>Phone</dt>
                    <dd>{{ page.specific.phone }}</dd>
                {% endif %}

                {% if page.specific.email %}
                    <dt>Email</dt>
                    <dd>{{ page.specific.email }}</dd>
                {% endif %}

                {% if page.specific.website %}
                    <dt>Website</dt>
                    <dd><a href="{{ page.specific.website }}">{{ page.specific.website }}</a></dd>
                {% endif %}
            </dl>

            {% if page.addresses.count %}
                <h2>Address(es)</h2>

                <dl>
                    {% for address in page.addresses.all %}
                        <dt>{{ address.address_type|title }}</dt>
                        <dd>{{ address }}</dd>
                    {% endfor %}
                </dl>
            {% endif %}

            {% if page.worship_times.count %}
                <h2>Worship time(s)</h2>

                <dl>
                    {% for worship_time in page.worship_times.all %}
                        <dt>{{ worship_time.get_worship_type_display|title }}</dt>
                        <dd>{{ worship_time.worship_time }}</dd>
                    {% endfor %}
                </dl>
            {% endif %}

            {% if page.online_worship.count %}
                <strong>Online worship:</strong>

                <ul>
                    {% for online_worship in page.online_worship.all %}
                        <li>
                            <a href="{% pageurl online_worship %}">{{ online_worship.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.presiding_clerks.count %}
                <h2>Presiding clerk(s)</h2>

                <ul class="list-none pl-0">
                    {% for presiding_clerk in page.presiding_clerks.all %}
                        <li>{{ presiding_clerk.person }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if page.information_last_verified %}
                <p>
                    <strong>Information last verified:</strong>
                    {{ page.information_last_verified }}
                </p>
            {% endif %}
        </div>

        <!-- Quarterly Meetings Column -->
        {% if quarterly_meetings %}
            <div class="lg:col-span-1">
                <h2 class="text-xl font-semibold">Quarterly Meetings</h2>
                <ul class="pl-0">
                    {% for meeting in quarterly_meetings %}
                        <li class="list-none mb-2">
                            <a href="{% pageurl meeting %}">{{ meeting.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Monthly Meetings Column -->
        {% if monthly_meetings %}
            <div class="lg:col-span-1">
                <h2 class="text-xl font-semibold">Monthly Meetings</h2>
                <ul class="pl-0">
                    {% for meeting in monthly_meetings %}
                        <li class="list-none mb-2">
                            <a href="{% pageurl meeting %}">{{ meeting.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- Worship Groups Column -->
        {% if worship_groups %}
            <div class="lg:col-span-1">
                <h2 class="text-xl font-semibold">Worship Groups</h2>
                <ul class="pl-0">
                    {% for meeting in worship_groups %}
                        <li class="list-none mb-2">
                            <a href="{% pageurl meeting %}">{{ meeting.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>

    {% if page.articles_authored.count %}
        <h2>Articles</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
            {% for article in page.articles_authored.all %}
                <div class="flex">
                    {% include 'magazine/magazine_article_summary.html' with article=article.article %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if page.archive_articles_authored.count %}
        <h2>Archive Articles</h2>

        <ul>
            {% for article in page.archive_articles_authored.all %}
                <li>
                    {{ article.article.issue }} -
                    <a href="{% pageurl article.article.issue %}?pdf_page_number={{ article.article.pdf_page_number }}">{{ article.article.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if page.books_authored.count %}
        <h2>Books</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
            {% for book_author in page.books_authored.all %}
                {% with book=book_author.book %}
                    <div class="border rounded shadow p-4">
                        <div>
                            <a href="{% pageurl book %}" class="text-lg font-medium">{{ book }}</a>
                        </div>

                        {% if book.authors.count %}
                            <div class="mb-2">
                                <span>Authored by:</span>
                                {% for author in book.authors.all %}
                                    {% if author.author.live %}
                                        <span>
                                            <a href="{% pageurl author.author %}">{{ author.author.title }}</a>{% if not forloop.last %},{% endif %}
                                        </span>
                                    {% else %}
                                        {{ author.author }}{% if not forloop.last %},{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="prose">
                            {{ book.description|richtext|truncatewords_html:30 }}
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% if page.specific.library_items_authored.count %}
        <h2>Library items</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for item_authored in page.specific.library_items_authored.all %}
                {% with library_item=item_authored.library_item %}
                    <div class="flex">
                        {% include 'library/library_item_card.html' %}
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% if page.memorial_minutes.count %}
        <h2>Memorials</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
            {% for memorial_minute in page.memorial_minutes.all|dictsort:'memorial_person.family_name' %}
                <div class="card bg-base-100 shadow-md hover:shadow-lg transition-shadow duration-300">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ memorial_minute.memorial_person }}
                        </h3>
                        <div class="card-actions justify-end mt-2">
                            <a href="{% pageurl memorial_minute %}" class="btn btn-primary btn-sm">
                                View Memorial
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}

{% block extra_js %}
    <script type="application/ld+json">
        {{ page.specific.get_json_ld|safe }}
    </script>
{% endblock extra_js %}
