<li class="dropdown">
    {# Native disclosure: <summary> exposes its expanded/collapsed state to assistive tech. #}
    {# Site navigation intentionally avoids ARIA menu roles, which promise application-style arrow-key behavior. #}
    <details>
        <summary id="summary-for-{{ value.submenu_id }}" class="btn btn-ghost m-1">
            {{ value.title }}
        </summary>
        <ul id="{{ value.submenu_id }}" aria-labelledby="summary-for-{{ value.submenu_id }}" class="p-2 shadow menu dropdown-content z-[1] bg-white rounded-box w-52">
            {% for item in value.menu_items %}
                {{ item }}
            {% endfor %}
        </ul>
    </details>
</li>
