blockquote {
    border-left: .25em solid #d9d9d9;
    color: #4d4d4d;
    margin: 1em 0;
    padding: 1em 2em;
}

.pullquote {
	margin: 0 0 0.5em 1em;
	background: aliceblue;
	padding: 1em;
	font-size: 2em;
	float: right;
	width: 50%;
}