{% extends "base.html" %}
{% load static %}

{% block title %}Pay online{% endblock %}

{% block content %}
    <main class="container mx-auto px-4 py-6">
        <header>
            <h1>Pay online</h1>
        </header>

        <section class="my-6">
            <p>
                This page will send your credit card information directly to PayPal. None of your credit card
                information will ever be visible to Western Friend.
            </p>

            <p>
                Although PayPal transacts all of Western Friend's online purchases, you can choose whether to pay with a credit card or a PayPal account. You do not need to have a PayPal account to make a payment here.
            </p>

            <div class="bg-base-200 p-4 rounded-lg my-6">
                <p class="text-lg font-medium">Payment total: <span class="font-bold">${{ order.get_total_cost }}</span></p>
            </div>

            <div id="paypal-button-container" aria-label="PayPal payment buttons" class="mt-4"></div>
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
    <script
        data-sdk-integration-source="integrationbuilder_sc"
        src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&components=buttons"></script>

    <script
        src="{% static 'payment/process.js' %}"
        data-csrf-token="{{ csrf_token }}"
        data-wf-order-id="{{ order.id }}"
        data-payment-amount="{{ order.get_total_cost }}"
        data-paypal-order-create-url="{% url 'paypal:create_paypal_order' %}"
        data-paypal-order-capture-url="{% url 'paypal:capture_paypal_order' %}"
        data-payment-done-url="{% url 'payment:done' %}"></script>
{% endblock extra_js %}
