blockquote {
    border-left: .25em solid #d9d9d9;
    color: #4d4d4d;
    margin: 1em 0;
    padding: 1em 2em;
}

img {
	max-width: 100%;
	height: auto;
}

#navbar-search-input {
	background-color: #ffefed;
	border-color: #ffefed;
	font-size: 1rem;
}

.richtext-image.left {
	float: left;
}

.richtext-image.right {
	float: right;
}

.pdfobject-container { 
	height: 42rem;
	border: 0.3rem solid rgba(0,0,0,.1);
}

.pullquote {
	margin: 0 0 0.5em 1em;
	background: aliceblue;
	padding: 1em;
	font-size: 2em;
	float: right;
	width: 50%;
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffe9e5;
}
